/* Work */
.work .content .name{
    margin-bottom: 360px;
}

.work .content .circles{
  display: flex;
}

.work .content .circles{
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* @media only screen and (min-width: 1101px) {
  .work .content .name{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .work .content .name h2{
    padding-left: 16px;
  }
} */

.work .content .circles img.main-circle{
  height: 250px;
}

.work .content .circles img:hover{
  transform: translateY(-4px);
}

/* Order Collaboration */

.order-collaboration .content ol.questions{
  margin-top: 0;
  margin-bottom: 32px;
}

@media only screen and (min-width: 856px) {
  .order-collaboration .content div.persona{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 395px) {
  .order-collaboration .content div.persona img{
    height: 320px;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 791px) {
  .order-collaboration .content div.sketch1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .order-collaboration .content div.sketch1 img.pic1{
    width: 50%;
  }
  .order-collaboration .content img.pic2{
    width: 50%;
    margin: 0 auto;
  }
  .order-collaboration .content div.sketch3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .order-collaboration .content div.sketch3 img.pic3{
    width: 60%;
  }
  .order-collaboration .content div.sketch3 p.pic3{
    padding-right: 48px;
  }
}

.order-collaboration .content img.wireframes{
  box-shadow: 0 0 10px var(--lightgrey);
  padding-bottom: 0;
  margin-bottom: 40px;
}

/* BOM Versioning */
.bom-versioning .content ol{
  margin-top: 0;
}

.bom-versioning .content div.persona img{
  max-width: 500px;
  display: block;
  margin: 0 auto 24px;
}

@media only screen and (min-width: 791px) {
  .bom-versioning .content div.card-sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bom-versioning .content div.card-sort img{
    width: 49%;
  }
}

@media only screen and (min-width: 940px) {
  .bom-versioning .content div.sketch1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .bom-versioning .content div.sketch1 img.pic1{
    height: 500px;
    width: auto;
  }
  .bom-versioning .content img.pic2{
    height: 500px;
    width: auto;
    margin: 0 auto;
  }
  .bom-versioning .content div.sketch3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .bom-versioning .content div.sketch3 img.pic3{
    height: 550px;
    width: auto;
  }
  .bom-versioning .content div.sketch3 p.pic3{
    padding-right: 48px;
  }
}

.bom-versioning .content p em{
  font-style: italic;
  font-weight: bold;
}

/* Contact */
  .contact .content div.contact-info{
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact .content .contact-info a.contact-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 16px 16px 24px;
    margin: 16px 16px 16px 0;
    width: 340px;
    height: 40px;
    border-radius: 40px;
  }

  .contact .content .contact-info a.mail{
    background-color: rgb(216, 172, 155, 0.5);
  }

  .contact .content .contact-info a.linkedin{
    background-color: rgb(178, 220, 214, 0.5);
  }

  .contact .content .contact-info a.github{
    background-color: rgb(255, 217, 141, 0.5);
  }

  .contact .content .contact-info a.youtube{
    background-color: rgb(182, 116, 116, 0.5);
  }

  .contact .content .contact-info .contact-link img{
    width: 48px;
    padding: 0;
  }

  .contact .content .contact-info .contact-link p{
    font-size: 1.2em;
    font-weight: 600px;
    letter-spacing: 1.5px;
    padding: 24px;
    color: black;
    margin: 0;
  }

@media only screen and (max-width: 655px) {
  .contact .content div.contact-info{
    margin-top: 96px;
  }

  .contact .content .contact-info a.contact-link{
    width: 280px;
  }

  .contact .content .contact-info .contact-link img{
    width: 32px;
    padding: 0;
  }

  .contact .content .contact-info .contact-link p{
    font-size: 1em;
    font-weight: 500px;
    color: black;
    padding: 24px 24px 24px 16px;
  }
}

.contact .content .contact-info a.mail:hover{
  background-color: var(--dustyrose);
}

.contact .content .contact-info a.linkedin:hover{
  background-color: var(--lightblue);
}

.contact .content .contact-info a.github:hover{
  background-color: var(--yellow);
}

.contact .content .contact-info a.youtube:hover{
  background-color: var(--burgundy);
}

/* Strategic Partnership */
.strategic-partnership .content div.audio{
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.strategic-partnership .content div.navigation-row{
  margin-bottom: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.strategic-partnership .content div.navigation-row div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 32px;
}

.strategic-partnership .content div.navigation-row div img{
  width: 88px;
  padding-bottom: 16px;
}

.strategic-partnership .content div.navigation-row div p{
  color: black;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin: 0;
  padding: 0;
}

/* Resume */
.resume .content .display-resume{
  width: 100%;
  height: 100vh;
}
