/* Work */
.work .content .circles{
  display: flex;
  padding-top: 100px;
  border-top: 1px solid grey;
}

.work .content p{
  letter-spacing: 2px;
  font-weight: 500;
  color: black;
  margin-top: 300px;
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  .work .content .circles{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1101px) {
  .work .content .circles{
    justify-content: center;
  }
  .work .content .name{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .work .content .name h2{
    padding-left: 16px;
  }
}

.work .content .circles img.main-circle{
  height: 250px;
}

.work .content .circles a{
  padding-bottom: 32px;
}

.work .content .circles img:hover{
  transform: translateY(-4px);
}

/* Order Collaboration */
.order-collaboration .content h5.showcase{
  text-align: center;
  padding-top: 40px;
  border-top: 1px solid var(--grey);
  margin-top: 16px;
}

.order-collaboration .content p.showcase{
  text-align: center;
  font-style: italic;
  font-weight: 300;
  max-width: 500px;
  margin: 0 auto;
}

.order-collaboration .content .tools{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 72px 0;
}

@media only screen and (max-width: 655px) {
  .order-collaboration .content .tools img{
    width: 60px;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 656px) {
  .order-collaboration .content .tools img{
    width: 80px;
    margin: 0;
    padding: 0;
  }
}

.order-collaboration .content img.solution-end{
  border-bottom: 1px solid var(--grey);
  padding-bottom: 64px;
  margin-bottom: 80px;
}

.order-collaboration .content ol.questions{
  margin-top: 0;
  margin-bottom: 32px;
}

@media only screen and (min-width: 856px) {
  .order-collaboration .content div.persona{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 395px) {
  .order-collaboration .content div.persona img{
    height: 320px;
    margin-bottom: 24px;
  }
}

.order-collaboration .content img.workflow{
  margin-bottom: 40px;
}

@media only screen and (min-width: 791px) {
  .order-collaboration .content div.sketch1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .order-collaboration .content div.sketch1 img.pic1{
    width: 50%;
  }
  .order-collaboration .content img.pic2{
    width: 50%;
    margin: 0 auto;
  }
  .order-collaboration .content div.sketch3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .order-collaboration .content div.sketch3 img.pic3{
    width: 60%;
  }
  .order-collaboration .content div.sketch3 p.pic3{
    padding-right: 48px;
  }
}

/* Contact */
@media only screen and (min-width: 656px) {
  .contact .content div.contact-info{
    margin: 80px 0;
  }

  .contact .content .contact-info a.contact-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .contact .content .contact-info .contact-link img{
    width: 48px;
    padding: 0;
  }

  .contact .content .contact-info .contact-link p{
    font-size: 1.2em;
    font-weight: 600px;
    letter-spacing: 1.5px;
    padding: 24px;
    color: black;
    margin: 0;
  }
}

@media only screen and (max-width: 655px) {
  .contact .content div.contact-info{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact .content .contact-info a.contact-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
  }

  .contact .content .contact-info .contact-link img{
    width: 40px;
    padding: 0;
  }

  .contact .content .contact-info .contact-link p{
    font-size: 1.1em;
    font-weight: 500px;
    letter-spacing: 1.5px;
    padding-top: 16px;
    color: black;
    margin: 0;
  }
}

.contact .content .contact-info .contact-link p:hover{
  color: var(--dustyrose);
}

/* Resume */
.resume .content .display-resume{
  width: 100%;
  height: 100vh;
}
