/* Work */
.work .content .circles{
  display: flex;
  padding-top: 100px;
  border-top: 1px solid grey;
}

.work .content p{
  letter-spacing: 2px;
  font-weight: 500;
  color: black;
  margin-top: 300px;
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  .work .content .circles{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1101px) {
  .work .content .circles{
    justify-content: space-between;
  }
  .work .content .name{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .work .content .name h2{
    padding-left: 16px;
  }
}

.work .content .circles img.main-circle{
  height: 250px;
}

.work .content .circles a{
  padding-bottom: 32px;
}

.work .content .circles img:hover{
  transform: translateY(-4px);
}
