/* Utilities */
@media only screen and (max-width: 655px) {
  .container{
    margin: 80px 40px;
  }
}

@media only screen and (min-width: 656px) {
  .container{
    margin: 80px auto;
    padding: 0 80px;
    max-width: 850px;
  }
}

.unlist{
  list-style: none;
  padding-left: 0;
}

a{
  text-decoration: none;
}

/* Header */
.header .branding img.logo{
  height: 80px;
}

@media only screen and (max-width: 655px) {
  .header .branding img.logo{
    display: block;
    margin: 0 auto;
  }
  .header .site ol.unlist{
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
  .header .site .unlist li a{
    margin: 20px;
  }
}

@media only screen and (min-width: 656px) {
  .header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header .site ol.unlist{
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
  }
}

.header .site .unlist li a{
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
}

@media only screen and (min-width: 656px) {
  .header .site .unlist li a{
    margin-right: 40px;
  }
}

.header .site .unlist li a.active{
  border-bottom: 4px solid;
  padding-bottom: 3px;
}

.header .site .unlist li a:hover{
  color: grey;
}

/* Body */
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  margin: 104px 0 20px 0;
  font-weight: 200;
  padding: 0;
  line-height: 1;
  letter-spacing: 1px;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 1px;
}

@media only screen and (max-width: 655px) {
  h1{
    text-align: center;
    font-size: 4.25em;
  }
  h2{
    text-align: center;
    font-size: 2.25em;
  }
}
