/* Colours */
:root {
  --dustyrose: #D8AC9B;
  --mauve: #B67474;
  --yellow: #FFD98D;
  --mustard: #D59F33;
  --lightblue: #B2DCD6;
  --burgundy: #B67474;
  --darkburgundy: #7F4355;
  --darkblue: #022248;
  --grey: #ABABAB;
  --lightgrey: #E6E6E6;
}

/* Utilities */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 655px) {
  .container{
    margin: 80px 40px;
  }
  .container .content .desktop{
    display: none;
  }
}

@media only screen and (min-width: 656px) {
  .container{
    margin: 80px auto;
    padding: 0 80px;
    max-width: 850px;
  }
  .container .content .mobile{
    display: none;
  }
}

.unlist{
  list-style: none;
  padding-left: 0;
}

a{
  text-decoration: none;
}

/* Header */
.header .branding img.logo{
  height: 80px;
}

@media only screen and (max-width: 655px) {
  .header .branding img.logo{
    display: block;
    margin: 0 auto;
  }
  .header .site ol.unlist{
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
  .header .site .unlist li a{
    margin: 16px;
  }
}

@media only screen and (min-width: 656px) {
  .header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header .site ol.unlist{
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
  }
}

.header .site .unlist li a{
  font-size: 1.25em;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
}

@media only screen and (min-width: 656px) {
  .header .site .unlist li a{
    margin-right: 40px;
  }
}

.header .site .unlist li a.nav-button{
  border: solid 1px black;
  border-radius: 4px;
  padding: 8px 16px;
}

.header .site .unlist li a.nav-button:hover{
  border: solid 1px var(--dustyrose);
  color: white;
  background-color: var(--dustyrose);
  margin-right: 20px;
}

.header .site .unlist li a.active{
  border-bottom: 4px solid;
  padding-bottom: 3px;
}

.header .site .unlist li a.nav-link:hover{
  color: var(--dustyrose);
  border-bottom: 4px solid var(--dustyrose);
  padding-bottom: 3px;
}

/* Body */
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 7em;
  margin: 220px 0 20px 0;
  font-weight: 200;
  padding: 0;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.25;
  letter-spacing: 1px;
  text-align: center;
  
}

h3{
  font-size: 1.25em;
  letter-spacing: 2px;
  font-weight: 500;
  color: black;
  margin: 80px 0 64px 0;
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 1px solid grey;
  text-transform: lowercase;
}

h4{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 32px;
  color: var(--darkblue);
  letter-spacing: 1.5px;
  margin: 0;
  text-transform: uppercase;
}

h4.trigger{
  font-size: 0.75em;
  color: var(--dustyrose);
  margin: 0;
  padding: 0 0 24px;
}

h4.special-trigger{
  margin-bottom: 40px;
}

h5{
  font-size: 0.85em;
  color: grey;
  margin: 0;
  padding: 8px 0 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.content ul{
  margin: 0;
  padding-bottom: 56px;
}

p.end{
  margin: 0;
  padding: 0 0 56px 0;
}

p.middle{
  margin: 0;
  padding: 0 0 24px 0;
}

p.quote{
  font-style: italic;
  font-weight: 300;
  font-size: 1.25em;
}

p.quoter{
  padding: 0;
  margin: 0 0 40px 0;
  text-align: right;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9em;
}

p.audio-caption{
  text-align: center;
  margin: 0;
  padding: 0 0 24px 0;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9em;
  color: var(--darkblue);
}

@media only screen and (max-width: 655px) {
  h1{
    text-align: center;
    font-size: 4.25em;
  }
  h2{
    text-align: center;
    font-size: 2.25em;
  }
}

/* General Styling */
.content ol li{
  padding: 0 0 8px 0;
}

.content h5.showcase-beginning{
  text-align: center;
  padding-top: 40px;
  margin-top: 16px;
}

.content h5.showcase{
  text-align: center;
  padding-top: 40px;
  border-top: 1px solid var(--grey);
  margin-top: 16px;
}

.content p.showcase{
  text-align: center;
  font-style: italic;
  font-weight: 300;
  max-width: 500px;
  margin: 0 auto;
}

.content .tools{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 72px 0;
}

@media only screen and (max-width: 655px) {
  .content .tools img{
    width: 60px;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 656px) {
  .content .tools img{
    width: 80px;
    margin: 0;
    padding: 0;
  }
}

.content img.solution-end{
  border-bottom: 1px solid var(--grey);
  padding-bottom: 64px;
  margin-bottom: 80px;
}

.content img.workflow{
  margin-bottom: 40px;
}

/* Images */
.content img{
  display: block;
  width: 100%;
  padding: 8px 0 48px;
}

/* Footer */
.footer h3{
  padding-top: 80px;
}

.footer .more-projects{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 32px;
}

.footer .more-projects a img{
  height: 240px;
  padding: 24px;
}

.footer .more-projects a img:hover{
  transform: translateY(-4px);
}

.footer div.contact{
  max-width: 270px;
  margin: 0 auto;
}

.footer a.contact{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer .contact img{
  width: 32px;
}

.footer .contact p{
  font-size: 1em;
  font-weight: 500px;
  letter-spacing: 1.5px;
  padding-left: 16px;
  color: black;
}

.footer .contact p:hover{
  color: var(--dustyrose);
}

.backgrounds .background{
  position: absolute;
}

.backgrounds .circle{
  background: transparent url(../assets/images/peach-blob.svg) no-repeat center;
  top: -500px;
  left: -400px;
  width: 1200px;
  height: 1200px;
  z-index: -50;
  background-size: 100%;
}

@media only screen and (max-width: 1400px) {
  .backgrounds .circle{
    width: 100vw;
    height: 100vw;
    min-width: 850px;
    max-width: 1100px;
    min-height: 850px;
    max-height: 1100px;
  }
}

.backgrounds .bean{
  background: transparent url(../assets/images/blue-blob.svg) no-repeat center;
  top: 70px;
  left: 80px;
  width: 1200px;
  height: 1200px;
  z-index: -70;
  background-size: 100%;
}

@media only screen and (max-width: 1550px) {
  .backgrounds .bean{
    top: 1000px;
    left: -200px;
    width: 90vw;
    height: 90vw;
    min-width: 700px; 
    min-height: 700px;
  }
}

.backgrounds .oval{
  background: transparent url(../assets/images/yellow-blob.svg) no-repeat center;
  top: 100px;
  right: -200px;
  width: 900px;
  height: 572px;
  z-index: -60;
  background-size: 100%;
}

@media only screen and (max-width: 1550px) {
  .backgrounds .oval{
    top: 450px;
    width: 100vw;
    height: 100vw;
    min-width: 600px;
    max-width: 1000px;
    min-height: 384px;
    max-height: 640px;
  }
}

.backgrounds .squiggle{
  background: transparent url(../assets/images/squiggle.svg) no-repeat center;
  top: 100px;
  right: -30px;
  width: 300px;
  height: 90px;
  z-index: -60;
  background-size: 100%;
}

@media only screen and (max-width: 1400px) {
  .backgrounds .squiggle{
    top: 250px;
    width: 50vw;
    height: 30vw;
    min-width: 80px;
    max-width: 300px;
    min-height: 50px;
    max-height: 160px;
  }
}